<p style="padding-top: 52px;"> 
There are <%= link_to @products_count, 'admin/products', {:style=> 'text-decoration: none; color: green'} %> products in the Database</p>
<p> There are <%= link_to @category_count, 'admin/products', {:style=> 'text-decoration: none; color: green'} %> different categories in the Database </p>
